{%extends "_Layout.html"%}

{%block title%} Home {%endblock%}

{%block content%}

<h1 class="header center orange-text">Welcome</h1>
<h5 class="header light center">A professional website/portfolio made in my spare time</h5>

<br>
<br>
<br>
<div class="row">
	<div class="section col s12 m4">
		<div class="icon-block">
			<h2 class="center blue-text text-darken-3">
				<i class="material-icons large">work</i>
			</h2>
			<h5 class="center">Find my work history</h5>
			<p class="light"> 
				I keep this site updated with all my work experiences,
				feel free to take a browse and contact me with any
				questions. Or if I've worked with you in the past please
				contact me and leave a reference !
			</p>
		</div>
	</div>
	<div class="section col s12 m4">
		<div class="icon-block">
			<h2 class="center blue-text text-darken-3">
				<i class="material-icons large">description</i>
			</h2>
			<h5 class="center">Look at some projects</h5>
			<p class="light">
				A look at some of the personal projects that I've done
				to keep myself busy. Github links are available for all
				the projects that I have worked on.
			</p>
		</div>
	</div>
	<div class="section col s12 m4">
		<div class="icon-block">
			<h2 class="center blue-text text-darken-3">
				<i class="material-icons large">email</i>
			</h2>
			<h5 class="center">More questions?</h5>
			<p class="light">
				You feel like contacting me professionally or would just like to 
				give some feedback regarding the site? feel free to use those buttons
				on the top right-hand side any time you want. I'll try and reply 
				as soon as I can
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="card horizontal col s12 m6 offset-m3">
	<div class="card-image">
		<img src="{{url_for('static', filename='img/me.jpg')}}"></img>
	</div>
	<div class="card-stacked">
		<div class="card-content">
			<p>
				I'm a Masters student in computer science and I just love
				to get my hands dirty with code. Having studied, lived and worked
				in many different countries I'm always looking for the next 
				new experience.
			</p>
		</div>

		<div class="card-action"><span>Lingfan Gao</span></div>
	</div>
	
		
	</div>
</div>



 {%endblock%}
