<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    (function (){

         var poll=function () {
              $.ajax({ //url: ("https://jsonplaceholder.typicode.com/posts/1"),
                  url: ("http://localhost:5000/status"),
                  dataType: 'json',
                  type:'get',
                  success:function (data) {
                      console.log(data)
                      $("#appserver1-status").text(data.Process.status);
                      $("#appserver1-cpu").text(data.Process["cpu percent total"]);
                      $("#appserver1-mem").text(data.Process["memory kilobytes total"])
                      $("#appserver1-response").text(data.Process["port response time"])
                      $("#appserver1-uptime").text(data.Process.uptime); 
                  },
                  error: function () {
                    
                  }
              })
         }
     setInterval( function(){
        poll();

      },5000);
    })();



</script>


<h2>Appserver 1 - <span id="appserver1-timestamp"></span></h2>
<table id="appserver1">
    <tr>
        <th>Status</th>
        <th>CPU usage</th> 
        <th>Memory usage</th>
        <th>Response time</th>
        <th>Uptime</th>
    </tr>
    <tr>
        <td id="appserver1-status"></td>
        <td id="appserver1-cpu"></td> 
        <td id="appserver1-mem"></td>
        <td id="appserver1-response"></td>
        <td id="appserver1-uptime"></td>
    </tr>
</table>


</body>
</html>
